 $board-color: #e5af5b;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    align-items: center;
    color: white;
    display: flex;
    height: 60px;
    left: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    position: absolute;
    right: 0;
    top: 0;

    h1 {
      font-weight: 700;
    }
  }

  .waiting {
    background-color: #757575;
  }

  .running {
    background-color: #2E7D32;
  }

  .near-end {
    background-color: $board-color;
  }

  .expired {
    background-color: #B71C1C;
  }

  .board {
    background-color: $board-color;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    width: 98vw;
  }

  /* Responsive Styles */
  @media screen and (min-aspect-ratio:4/5) {
    .board {
      width: calc(82vh - 120px);
    }
  }
