<!-- Toolbar -->
<div class="toolbar"
  [class.waiting]="timerStatus === TimerStatus.WAITING"
  [class.running]="timerStatus === TimerStatus.RUNNING"
  [class.near-end]="timerStatus === TimerStatus.NEAR_END"
  [class.expired]="timerStatus === TimerStatus.EXPIRED"
  role="banner"
>
  <h1 class="mat-title">{{ title }}</h1>
  <div class="spacer"></div>
  <p class="mat-body-2" *ngIf="timerStatus !== TimerStatus.WAITING">Time remaining: {{timeRemaining}}</p>
  <div class="spacer"></div>
  <button mat-flat-button color="secondary" (click)="startGame()">
    New board
  </button>
</div>

<!-- Board -->
<div class="board" role="main">
  <app-board [board]="board">
  </app-board>
</div>
