 $board-color: #e5af5b;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    align-items: center;
    background-color: #1976d2;
    color: white;
    display: flex;
    font-weight: 600;
    height: 60px;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .board {
    background-color: $board-color;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    width: 98vw;
  }

  /* Responsive Styles */
  @media screen and (min-aspect-ratio:4/5) {
    .board {
      width: calc(82vh - 120px);
    }
  }
